[defaults]
# TODO: deprecation_warnings should stay True (the default). Hiding these warnings
# means you won't notice when something you use is about to break in a future.
# Omit or set to true.
deprecation_warnings=False
